.pagination {
  display: flex;
  flex-flow: row wrap;
  position: relative;

  width: 100%;
  margin: -1.5rem 0;

  .nav-links {
    display: flex;
    position: relative;

    padding: 0.5rem 0;
    font-size: 0.8125rem;
    color: $color-utility;

    a {
      display: block;

      &:hover {
        color: lighten($color-utility, 10%);
      }
    }
  }

  .nav-next {
    margin-left: auto;
  }

  .page-numbers {
    display: block;
    padding: 0 0.625rem;


    &.current {
      cursor: default;
      color: $color-text;
    }

    &.current:hover {
      color: $color-text;
    }
  }

  @media screen and (max-width: 767px) {
    margin: -0.75rem 0;
  }
}