.caption {
  display: block;
  position: relative;

  width: $width-content;
  max-width: 100%;
  margin: 1.5rem 0;
  padding: 0 0.625rem;

  .caption-title {
    display: block;
    cursor: default;

    color: $color-text;
    font-size: 0.875rem;
    font-weight: 500;
  }

  .caption-text {
    display: block;
    cursor: default;

    margin-top: 0.25rem;

    color: $color-text;
    font-size: 0.8125rem;
  }
}