.comments {
  display: block;
  position: relative;

  width: 100%;
  margin: 2rem 0;

  .comment-list {
    display: block;
  }

  .comment-body {
    display: block;
    position: relative;
  }

  .comment-meta {
    display: block;
    position: relative;

    width: 100%;
    height: 2rem;
    padding-left: 2.625rem;
  }

  .comment-author {
    display: block;
    cursor: default;

    font-size: 0.75rem;
    font-weight: 500;
    line-height: 1.25;

    a.url {
      color: $color-text;
    }

    & > img {
      display: block;
      position: absolute;
      top: 0;
      left: 0;

      width: 2rem;
      height: 2rem;

      border-radius: 2px;
    }

    & > .says {
      display: none;
    }
  }

  .comment-metadata {
    display: block;

    margin-top: 0.125rem;
    font-size: 0.625rem;
  }

  .comment-content {
    display: block;
    position: relative;

    padding: 0.75rem 0 0.5rem;
    font-size: 0.8125rem;
    font-weight: 300;

    p {
      margin: 0.5rem 0 0;

      &:first-child {
        margin-top: 0;
      }
    }
  }

  .comment-respond {
    display: block;
    position: relative;

    margin-top: 1.5rem;
  }

  .comment-form {
    display: block;
    position: relative;

    p {
      margin: 0 0 0.75rem;
    }

    textarea {
      min-height: 6rem;

      resize: vertical;
    }
  }

  .comment-submit {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    position: relative;

    & > button {
      margin-right: 1rem;
    }
  }

  .comment-reply-cancel {
    display: block;

    margin: 0.5rem 0;
    font-size: 0.75rem;
  }

  .comment {
    display: block;
    position: relative;

    margin: 0 0 1.5rem 0;

    & > .comment {
      margin: 0.75rem 0 0.75rem 2.625rem;
    }

    & > .comment-respond {
      margin: 0.75rem 0 1.5rem 2.625rem;
    }

    &:last-child {
      margin-bottom: 0;
    }

    a {
      color: $color-utility;

      border-bottom: none;
      transition: color .25s;

      &:hover {
        color: lighten($color-utility, 10%);
      }
    }

    .reply {
      display: block;
      position: relative;

      margin: 0;
      font-size: 0.75rem;

      color: $color-utility;
    }

    .edit-link {
      display: none;
    }
  }
}