.content {
  display: block;
  position: relative;

  width: $width-content;
  max-width: 100%;
  margin: 1.5rem auto;
  padding: 0 1.25rem;

  @media screen and (max-width: 479px) {
    padding: 0 0.75rem;
  }
}