.footer {
  display: block;
  position: relative;

  width: $width-content;
  max-width: 100%;
  margin: 2rem auto 0;

  .footer-copy {
    display: block;
    cursor: default;

    padding: 1rem 1.25rem;
    font-size: 0.75rem;
    text-align: center;

    color: $color-utility;

    a:hover {
      color: lighten($color-utility, 10%);
    }
  }

  @media screen and (max-width: 479px) {
    margin-top: 1rem;
  }
}