.menu {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  user-select: none;

  width: $width-content;
  max-width: 100%;
  margin: 1rem auto 0.5rem;

  font-size: 0.8125rem;

  border-bottom: solid 1px lighten($color-dark, 10%);

  .menu-item {
    display: block;
    position: relative;

    margin-bottom: -1px;

    border-bottom: 1px solid transparent;

    &.menu-item-current {
      border-bottom-color: $color-text;

      .menu-item-link {
        color: $color-text;
      }

      .menu-item-link:hover {
        color: $color-text;
      }
    }
  }

  .menu-item-link {
    display: block;

    padding: .375rem 0.625rem;
    white-space: nowrap;

    color: $color-utility;

    border-bottom: none;
    transition: color .25s;

    &:hover {
      color: lighten($color-utility, 10%);
    }
  }
}