.menu {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  scrollbar-width: none;

  margin-bottom: -1px;
  overflow-x: auto;
  overflow-y: hidden;

  font-size: 0.8125rem;

  -ms-overflow-style: -ms-autohiding-scrollbar;
  -webkit-overflow-scrolling: touch;

  &::-webkit-scrollbar {
    display: none;
  }

  .menu-item {
    display: block;
    position: relative;

    &.current-menu-item a {
      color: $color-text;
      border-bottom-color: $color-text;
    }
  }

  a {
    display: block;

    padding: 0.375rem 0.625rem;
    white-space: nowrap;
    color: $color-utility;

    border-bottom: 1px solid transparent;

    &:hover {
      color: lighten($color-utility, 10%);
    }

    &:focus {
      outline-offset: -5px;
    }
  }
}