.post {
  display: block;
  position: relative;

  width: 100%;
  margin: 4rem 0 0;

  &:first-child {
    margin-top: 0;
  }

  &.type-post {
    width: calc(100% + 2px);
    margin-left: -1px;
    margin-right: -1px;
    overflow: hidden;

    background-color: lighten($color-dark, 3%);

    border: 1px solid darken($color-dark, 3%);
    border-radius: 3px;
  }

  &.sticky {
    border: none;
    box-shadow: 0 0 2px 1px $color-link;
  }

  @media screen and (max-width: 767px) {
    margin-top: 2rem;
  }
}