.post {
  display: block;
  position: relative;

  width: 100%;
  margin: 0 0 3rem;

  &:last-child {
    margin-bottom: 0;
  }

  @media screen and (max-width: 767px) {
    margin-bottom: 1.5rem;
  }
}