#instapress-thumbnail-metabox .inside {
  margin: 0;
  padding: 12px;

  background-color: #f5f5f5;
}

#instapress-thumbnail-metabox .thumbnail-image {
  display: block;
  position: relative;

  width: 640px;
  max-width: 100%;
  margin: 0 auto;
  padding: 10px;

  background-color: #ffffff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .04);
  border: 1px solid #e5e5e5;
}

#instapress-thumbnail-metabox .thumbnail-image img {
  display: block;

  width: 100%;
  height: auto;
}

#instapress-thumbnail-metabox .thumbnail-placeholder {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  cursor: default;

  height: 150px;
  margin: 0;
  padding: 12px 10px;

  font-size: 16px;
  color: #a0a5aa;

  border: 2px dashed #ccc;
}

#instapress-thumbnail-metabox .thumbnail-placeholder .button {
  cursor: pointer;
  margin-top: 15px;
}

#instapress-thumbnail-metabox .thumbnail-image + .thumbnail-placeholder {
  display: none;
}