// Define font vars
$font-regular: -apple-system, BlinkMacSystemFont, 'Segoe WPC', 'Segoe UI', HelveticaNeue-Light, Ubuntu, 'Droid Sans', sans-serif;
$font-monospace: 'Hack', monospace;

// Define color vars
$color-text: #dadada;
$color-link: #e0923c;
$color-dark: #21252b;

$color-value: #56b6c2;
$color-utility: #717e8c;

// Define content width
$width-content: 40rem;

// Setup default styles
@import "config/*.scss";


body {
  display: block;

  line-height: 1.5;
  font-size: 16px;
  font-weight: normal;
  font-family: $font-regular;

  color: $color-text;
  background-color: $color-dark;

  will-change: transform;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: 100%;

  &.is-admin-bar {
    padding-top: 32px;

    @media screen and (max-width: 782px) {
      padding-top: 46px;
    }
  }
}

a {
  text-decoration: none;
  border-bottom: 1px solid;
  transition: color .25s;
}

button {
  display: inline-block;
  cursor: pointer;
  outline: none;

  max-width: 100%;
  min-width: 6rem;
  padding: 0.5rem 1rem;
  overflow: hidden;

  line-height: 1.5;
  font-size: 0.8125rem;
  font-weight: 400;
  text-overflow: ellipsis;
  text-align: center;
  white-space: nowrap;

  color: $color-dark;
  background-color: $color-link;

  border: 1px solid darken($color-dark, 3%);;
  border-radius: 2px;

  transition: background-color .25s;

  &:hover {
    background-color: darken($color-link, 5%);
  }
}

input,
textarea {
  display: block;
  outline: none;

  width: 100%;
  padding: 0.5rem;
  line-height: 1.5;
  font-size: 0.8125rem;
  font-weight: 300;

  color: $color-text;
  background-color: lighten($color-dark, 3%);

  border: 1px solid darken($color-dark, 3%);
  border-radius: 2px;

  transition: background-color .25s;

  &:focus {
    background-color: lighten($color-dark, 5%);
  }

  &::placeholder {
    color: darken($color-utility, 15%);
  }
}

::selection {
  background-color: rgba(dimgrey, 0.75);
}

// Import layout styles
@import "layout/*.scss";

// Import entry styles
@import "entry/*.scss";

// Import comments styles
@import "comments/*.scss";