.entry-article {
  display: block;

  font-size: 0.8125rem;
  font-weight: 300;

  will-change: transform;

  & > * {
    margin: 0 0 0.75rem;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  a {
    color: $color-link;
    text-decoration: none;

    &:hover {
      color: darken($color-link, 10%);

      img {
        filter: brightness(90%);
      }
    }
  }

  img {
    display: block;

    border: 1px solid darken($color-dark, 3%);
    border-radius: 3px;
    transition: filter 0.25s;
  }

  strong, b {
    font-weight: 600;
  }

  em, i {
    font-style: italic;
  }

  sub {
    vertical-align: sub;
    font-size: smaller;
  }

  sup {
    vertical-align: super;
    font-size: smaller;
  }

  code, pre {
    padding: 0.5rem 1rem;
    white-space: pre-wrap;

    font-family: $font-monospace;
    font-size: 0.75rem;

    color: darken($color-text, 15%);
    background-color: lighten($color-dark, 3%);

    border: 1px solid darken($color-dark, 3%);
    border-radius: 3px;

    @media screen and (max-width: 767px) {
      padding: 0.5rem;
    }
  }

  h1, h2, h3 {
    margin-top: 1.5rem;

    font-weight: 400;
    line-height: 1.125;
  }

  h4, h5, h6 {
    margin-top: 1.25rem;

    font-size: 0.875rem;
    font-weight: 600;
    line-height: 1.25;
    letter-spacing: 0.25px;
  }

  h1 {
    font-size: 1.5rem;
    letter-spacing: 0.5px;

    @media screen and (max-width: 767px) {
      font-size: 1.25rem;
      letter-spacing: 0.25px;
    }
  }

  h2 {
    font-size: 1.25rem;
    letter-spacing: 0.5px;

    @media screen and (max-width: 767px) {
      font-size: 1.125rem;
      letter-spacing: 0.25px;
    }
  }

  h3 {
    font-size: 1rem;
    letter-spacing: 0.25px;
  }

  hr {
    display: block;
    position: relative;

    margin: 1.5rem 0;

    border: 0;
    border-bottom: 1px solid lighten($color-dark, 10%);
  }

  ol, ul {
    padding-left: 1.5rem;

    li {
      margin: 0 0.5rem 0.5rem;
    }

    @media screen and (max-width: 767px) {
      padding-left: 1rem;
    }
  }

  ol {
    list-style-type: decimal;
  }

  ul {
    list-style-type: disc;
  }

  blockquote {
    padding-left: calc(2rem - 2px);
    border-left: 2px solid $color-value;

    p {
      font-style: italic;
    }

    @media screen and (max-width: 767px) {
      padding-left: calc(1.5rem - 2px);
    }
  }

  .wp-caption {
    max-width: 100%;
    overflow: hidden;

    color: darken($color-text, 15%);
    background-color: lighten($color-dark, 3%);

    border: 1px solid darken($color-dark, 3%);
    border-radius: 3px;

    img {
      border: none;
      border-radius: 0;
    }

    .wp-caption-text {
      padding: 0.5rem;
      font-size: 0.75rem;
    }
  }

  .page-links {
    display: flex;
    justify-content: space-between;
    position: relative;

    width: 100%;
    padding: 0.5rem 0;

    border-top: solid 1px lighten($color-dark, 10%);

    a {
      display: block;

      color: $color-utility;
      border-bottom: none;

      &:hover {
        color: lighten($color-utility, 10%);
      }
    }
  }

  .post-password-form {
    display: flex;

    width: 100%;
    margin: 1rem 0;

    .submit {
      margin-left: 0.5rem;
    }
  }

  .alignnone {
    margin: 0 1rem 1rem 0;
  }

  .aligncenter {
    display: block;
    margin: 0 auto;
  }

  .alignright {
    float: right;
    margin: 0 0 1rem 1rem;
  }

  .alignleft {
    float: left;
    margin: 0 1rem 1rem 0;
  }
}