.entry-content {
  display: block;

  font-size: 0.8125rem;
  font-weight: 300;

  & > * {
    margin: 0 0 0.75rem;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  a {
    color: $color-link;
    text-decoration: none;

    border-bottom: 1px solid $color-link;
    transition: border 0.25s;

    &:hover {
      border-bottom-color: transparent;
    }
  }

  strong, b {
    font-weight: 600;
  }

  em, i {
    font-style: italic;
  }

  sub {
    vertical-align: sub;
    font-size: smaller;
  }

  sup {
    vertical-align: super;
    font-size: smaller;
  }

  code, pre {
    padding: 0.5rem 1rem;
    white-space: pre-wrap;

    font-family: $font-monospace;
    font-size: 0.75rem;

    color: darken($color-light, 15%);
    background-color: lighten($color-dark, 3%);

    border: 1px solid darken($color-dark, 3%);
    border-radius: 3px;

    @media screen and (max-width: 767px) {
      padding: 0.5rem;
    }
  }

  h1, h2, h3 {
    margin-top: 1.5rem;

    font-weight: 400;
    line-height: 1.125;
    letter-spacing: 0.5px;
  }

  h4, h5, h6 {
    margin-top: 1.25rem;

    font-size: 0.875rem;
    font-weight: 600;
    line-height: 1.25;
    letter-spacing: 0.25px;
  }

  h1 {
    font-size: 1.5rem;

    @media screen and (max-width: 767px) {
      font-size: 1.25rem;
    }
  }

  h2 {
    font-size: 1.25rem;

    @media screen and (max-width: 767px) {
      font-size: 1.125rem;
    }
  }

  h3 {
    font-size: 1rem;
  }

  hr {
    display: block;
    position: relative;

    margin: 1.5rem 0;

    border: 0;
    border-bottom: 1px solid lighten($color-dark, 10%);
  }

  ol, ul {
    padding-left: 1.5rem;

    li {
      margin: 0 0.5rem 0.5rem;
    }

    @media screen and (max-width: 767px) {
      padding-left: 1rem;
    }
  }

  ol {
    list-style-type: decimal;
  }

  ul {
    list-style-type: disc;
  }

  blockquote {
    padding-left: calc(2rem - 2px);

    border-left: 2px solid $color-value;

    @media screen and (max-width: 767px) {
      padding-left: calc(1.5rem - 2px);
    }
  }
}