.entry-summary {
  display: block;

  padding: 1rem 1.5rem;

  font-family: $font-monospace;
  font-size: 0.6875rem;
  color: $color-utility;

  &:before {
    content: "{";
    display: block;
  }

  &:after {
    content: "}";
    display: block;
  }

  .entry-summary-field {
    display: block;
    cursor: default;

    margin-left: 2rem;
    line-height: 1.65;

    span {
      color: $color-link;
    }

    strong {
      color: $color-value;
    }

    &:not(:last-child):after {
      content: ',';
    }

    @media screen and (max-width: 479px) {
      margin-left: 1rem;
    }
  }

  @media screen and (max-width: 479px) {
    padding: 1rem;
  }
}