.entry-summary {
  display: block;

  padding: 1rem 2rem;

  font-family: $font-monospace;
  font-size: 0.75rem;
  color: $color-text;

  background-color: lighten($color-dark, 3%);

  &:before {
    content: "{";
    display: block;
  }

  &:after {
    content: "}";
    display: block;
  }

  .entry-summary__field {
    display: block;

    margin-left: 2rem;
    line-height: 1.65;

    span {
      color: $color-summary-key;
    }

    strong {
      color: $color-summary-value;
    }
  }
}