@mixin checkbox {
  display: inline-block;
  position: relative;
  appearance: none;

  width: 1rem;
  height: 1rem;
  margin-right: 0.5rem;

  box-shadow: none;
  cursor: pointer;

  background-color: lighten($color-dark, 3%);

  border: 1px solid darken($color-dark, 3%);
  border-radius: 2px;

  transition: background-color .25s;

  &:checked::before {
    content: '';

    position: absolute;
    top: 0;
    left: 0;

    width: 0.5rem;
    height: 0.3125rem;
    border: solid 2px #717e8c;
    border-right: none;
    border-top: none;
    border-radius: 1px;

    transform: rotate(-45deg) translate(0, 0.375rem);
  }
}